<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>892727220989-p8fg8j07ch39946hljq73hqm1cf3u59m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.892727220989-p8fg8j07ch39946hljq73hqm1cf3u59m</string>
	<key>API_KEY</key>
	<string>AIzaSyC5CuB2pF0MQPXtcA7dEObiByVO88GtdEk</string>
	<key>GCM_SENDER_ID</key>
	<string>892727220989</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.shopApp</string>
	<key>PROJECT_ID</key>
	<string>shop-app-5dfb2</string>
	<key>STORAGE_BUCKET</key>
	<string>shop-app-5dfb2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:892727220989:ios:a4d5d1bab05c771c03fc94</string>
</dict>
</plist>